/* main div  */
.App {
  margin: 5% 7%;
  font-family: adriane, georgia, serif;
  color: #393839;
  line-height: 1.375;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* title animation  */
.title {
  font-size: 42px;
  color: #FF0051;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 2s steps(25) forwards, border 9s;

}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 280px;
  }
}
@keyframes border {
  0% {
    border-right: 2px solid #FF0051;
  }
  100% {
    border-right: none;
  }
}

/* dotted line div  */
.dotted-line {
  border-bottom: 2px dotted #ccc;
  width: 100%;
  margin: 0;
}

.line-through {
  text-decoration: line-through;
}

/* animation for plus button  */
.toggle-sign {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.toggle-sign span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FF0051;
  transition: transform 0.3s ease-in-out;
}

.toggle-sign span:first-child {
  top: 50%;
  transform: translateY(-50%);
}

.toggle-sign span:last-child {
  left: 50%;
  transform: translateX(-50%);
}

.toggle-sign.plus-sign span:first-child {
  transform: translateY(-50%) rotate(90deg);
}

.toggle-sign.minus-sign span:first-child {
  transform: translateY(-50%) rotate(180deg);
}

.toggle-sign span:last-child {
  transform: translateX(-50%) translateY(400%) rotate(180deg);
} 

/* phase main div  */
.phase {
  display: flex;
  flex-direction: column;
}

/* animation for phase to slide in from top  */


.phase-active {
  background-color: #F2F2F2;
}
.phase-active .human svg path {
  fill: #F2F2F2;
}

/* phase header part  */
.phase-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  padding-right: 5%;
  z-index: 3;
}
.phase-top-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  align-content: center;
}

/* change color of the div and svg on hover  */
.phase-top:hover {
  background-color: #F9F9F9;
  transition-delay: 0ms;
  transition: background-color 0.3s;
  cursor: pointer;
}

.phase-top:hover .human svg path {
  fill: #F9F9F9;
  transition: fill 0.3s;
  cursor: pointer;
}

.human svg path {
  fill: white;
}

/* phase details section  */

.phase-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 2%;
  color: white;
  
}

.phase-bottom-right {
  width: 55%;
}

.phase-bottom-left {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center ;
}

.phase-bottom-left ul {
  width: 50%;
}

.phase2 {
  height: auto;
}
.phase1-bottom {
  background-color: #47689B;
}
.phase2-bottom {
  background-color: #F56762;
}
.phase3-bottom {
  background-color: #72BDBF;
}
.phase4-bottom {
  background-color: #A53C6C;
}

/* svgs in each phase  */
.list-inactive {
  display: none;
}
.list-active {
  display: block;
}
 
/* phase 1 - brain   */
#brain path {
  transition: 0.3s ease;
  fill-opacity: 1;
  fill: #FFA500;
}
#top:hover path, #bottom:hover path, #left:hover path, #right:hover path {
  fill: white;
  fill-opacity: 0.9;
  transition: transform 0.3s ease;
  transform: scale(1.03);
}


/* phase 2 - heart  */
#heart path {
  transition: 0.3s ease;
  fill-opacity: 1;
  fill: #6A57C2;
}

#top-right:hover path, #bottom-right:hover path    {
  fill: white;
  fill-opacity: 0.75;
  transition: transform 0.3s ease;
  transform: scale(1.03) ; 
}

#bottom-left:hover path{
  fill: white;
  fill-opacity: 0.75;
  transform: scale(1.03) translateX(-3px) ; 
  transition: transform 0.3s ease;
}
#top-left:hover path {
  fill: white;
  fill-opacity: 0.75;
  transform: scale(1.03) translateX(-3px) translateY(-4px); 
  transition: transform 0.3s ease;
}

/* phase 3 - ribcage  */
#ribcage path {
  transition: 0.3s ease;
  fill-opacity: 1;
  fill: #FF4081;
}

#rib-left:hover path, #rib-right:hover path {
  fill: white;
  fill-opacity: 0.75;
  transition: transform 0.3s ease;
  transform: scale(1.03) ; 
}

/* phase 4 - digestive  */

#digestive path {
  transition: 0.3s ease;
  fill-opacity: 1;
  fill: #E2AF31;
}

#digestive:hover path {
  fill: white;
  fill-opacity: 0.5;
  transition: transform 0.3s ease;
  transform: scale(1.03) ; 
}

/* medium screen  */
@media only screen and (max-width: 1200px) {
  .App {
    margin: 2% 2%;
  }
  .phase-bottom-right {
    width: 50%;
  }
  .phase-bottom-left {
    width: 50%;
  }
}


@media only screen and (max-width: 1000px) {
  .App {
    margin: 4% ;
  }
  .phase-bottom-right {
    width: 50%;
  }
  .phase-bottom-left {
    width: 50%;
  }
  .human {
    display: none;
  }
  .phase-top {
    padding: 3%;
  }
}
@media only screen and (max-width: 768px)  {

  .phase-bottom {
    flex-direction: column-reverse;
    padding: 0;
  }
  .phase-bottom-right {
    width: 80%;
    padding: 20px 0;
  }
  .phase-bottom-left {
    display: block;
    width: 100%;
    padding: 0;
  }
  .phase-bottom-left ul {
    width: 80%;
    padding: 0 70px;
  }
  .phase-bottom-left ul li {
    padding-bottom: 20px;
  }

  .list-inactive {
    display: block;
  }
  svg{
    display: none;
  }
  .phase-top {
    font-size: 24px;
  }

}

@media only screen and (max-width: 600px) {
  .phase-top {
    font-size: 18px;
    padding: 20px;
  }

  .phase-bottom-left > ul {
    padding: 0 30px;
  }
}